<policies>
  <inbound>
    <base />
${client_auth_policy}
${model_policy}
    <set-backend-service base-url="${cloud_run_url}" />
    <authentication-managed-identity resource="${entra_wif_resource}"%{ if apim_wif_managed_identity_client_id != null } client-id="${apim_wif_managed_identity_client_id}"%{ endif } output-token-variable-name="azureToken" />
    <send-request mode="new" response-variable-name="stsResponse" timeout="20" ignore-error="false">
      <set-url>https://sts.googleapis.com/v1/token</set-url>
      <set-method>POST</set-method>
      <set-header name="Content-Type" exists-action="override">
        <value>application/x-www-form-urlencoded</value>
      </set-header>
      <set-body>@{
        return "grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Atoken-exchange" +
          "&amp;audience=${google_sts_audience_encoded}" +
          "&amp;scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform" +
          "&amp;requested_token_type=urn%3Aietf%3Aparams%3Aoauth%3Atoken-type%3Aaccess_token" +
          "&amp;subject_token_type=urn%3Aietf%3Aparams%3Aoauth%3Atoken-type%3Ajwt" +
          "&amp;subject_token=" + System.Uri.EscapeDataString((string)context.Variables["azureToken"]);
      }</set-body>
    </send-request>
    <set-variable name="googleAccessToken" value="@((string)((IResponse)context.Variables[&quot;stsResponse&quot;]).Body.As&lt;JObject&gt;()[&quot;access_token&quot;])" />
    <send-request mode="new" response-variable-name="idTokenResponse" timeout="20" ignore-error="false">
      <set-url>https://iamcredentials.googleapis.com/v1/projects/-/serviceAccounts/${google_service_account_email}:generateIdToken</set-url>
      <set-method>POST</set-method>
      <set-header name="Authorization" exists-action="override">
        <value>@("Bearer " + (string)context.Variables["googleAccessToken"])</value>
      </set-header>
      <set-header name="Content-Type" exists-action="override">
        <value>application/json</value>
      </set-header>
      <set-body>{
        "audience": "${cloud_run_url}",
        "includeEmail": true
      }</set-body>
    </send-request>
    <set-variable name="googleIdToken" value="@((string)((IResponse)context.Variables[&quot;idTokenResponse&quot;]).Body.As&lt;JObject&gt;()[&quot;token&quot;])" />
    <set-header name="Authorization" exists-action="override">
      <value>@("Bearer " + (string)context.Variables["googleIdToken"])</value>
    </set-header>
  </inbound>
  <backend>
    <base />
  </backend>
  <outbound>
    <base />
  </outbound>
  <on-error>
    <base />
  </on-error>
</policies>
