<policies>
  <inbound>
    <base />
${client_auth_policy}
    <set-backend-service base-url="${cloud_run_url}" />
    <set-header name="X-Internal-Api-Key" exists-action="override">
      <value>${backend_api_key}</value>
    </set-header>
  </inbound>
  <backend>
    <base />
  </backend>
  <outbound>
    <base />
  </outbound>
  <on-error>
    <base />
  </on-error>
</policies>
